{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://customfont",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "26.7.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "Fonts": [
        {
          "Name": "Galmuri9",
          "ResourceId": "de2bfbb58a8142ceab3ec1c1facf518f",
          "fontType": 1,
          "BoldResourceId": ""
        }
      ],
      "Groups": [
        {
          "Name": "Galmuri9",
          "Rules": [
            {
              "Name": "Galmuri9",
              "Locales": [
                "ko",
                "en"
              ],
              "Platform": "All"
            }
          ]
        }
      ],
      "config_id": "config://customfont"
    }
  }
}