{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://customfont",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "26.7.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "Fonts": [
        {
          "Name": "Galmuri9",
          "ResourceId": "de2bfbb58a8142ceab3ec1c1facf518f",
          "fontType": 1,
          "BoldResourceId": ""
        },
        {
          "Name": "Chosun",
          "ResourceId": "0e8d4b0894dc4f4a84a1f9de481b391c",
          "fontType": 1,
          "BoldResourceId": ""
        },
        {
          "Name": "Galmuri14",
          "ResourceId": "6869d351665a409f9a4c257197684d1d",
          "fontType": 1,
          "BoldResourceId": ""
        },
        {
          "Name": "Galmuri11",
          "ResourceId": "ec8bcf5ca2474cc19a2a598cd2248652",
          "fontType": 1,
          "BoldResourceId": ""
        }
      ],
      "Groups": [
        {
          "Name": "Galmuri9",
          "Rules": [
            {
              "Name": "Galmuri9",
              "Locales": [
                "ko",
                "en"
              ],
              "Platform": "All"
            },
            {
              "Name": "",
              "Locales": [],
              "Platform": "All"
            }
          ]
        },
        {
          "Name": "Chosun",
          "Rules": [
            {
              "Name": "Chosun",
              "Locales": [
                "en",
                "ko",
                "es",
                "zh-cn",
                "zh-tw",
                "ja"
              ],
              "Platform": "All"
            }
          ]
        },
        {
          "Name": "Galmuri14",
          "Rules": [
            {
              "Name": "Galmuri14",
              "Locales": [
                "en",
                "ko",
                "es",
                "zh-cn",
                "zh-tw",
                "ja"
              ],
              "Platform": "All"
            }
          ]
        },
        {
          "Name": "Galmuri11",
          "Rules": [
            {
              "Name": "Galmuri11",
              "Locales": [
                "en",
                "ko",
                "es",
                "zh-cn",
                "zh-tw",
                "ja"
              ],
              "Platform": "All"
            }
          ]
        }
      ],
      "config_id": "config://customfont"
    }
  }
}