{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://customfont",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "26.7.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "Fonts": [
        {
          "Name": "Galmuri9",
          "ResourceId": "3481c70430954ef3b42049c21442e6ac",
          "fontType": 1,
          "BoldResourceId": ""
        }
      ],
      "Groups": [],
      "config_id": "config://customfont"
    }
  }
}